# Maven
target/
**/target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.idea/
*.iml
.vscode/
*.iws
*.ipr
.project
.classpath
.settings/

# Logs
*.log
logs/
startup.log

# OS
.DS_Store
Thumbs.db

# Sensitive configs
application-local.yml
application-prod.yml
